$pp: 'Inter';
$side-text-color: #425466;
$h-title-color: #27272E;

a {
    text-decoration: none;
    color: #000000;
}

body {
    font-family: $pp;
    background-color: #fcfcfc;
}

button {
    border: none;
    background: none;
    padding: 0;
}

.container {
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 30px;
    height: 100vh;
}

.wrapper {
    height: 100vh;
    display: flex;
}

.side-panel {
    max-width: 250px;
    width: 100%;
    border-right: 2px solid #EDF2F7;
    height: inherit;
    position: relative;

    &__exit {
        position: absolute;
        bottom: 36px;
        left: 0;
    }
}

.side-nav {
    padding-top: 104px;

    &__item:not(:first-child) {
        margin-top: 8px;
    }

}

.img-block {
    display: flex;
    align-items: center;

    color: $side-text-color;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    img {
        margin-right: 20px;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1170px;
    height: 99px;
    width: 100%;
    border-bottom: 2px solid #EDF2F7;
    color: $h-title-color;
    
    
    &__title {
        font-weight: 600;
        font-size: 28px;
        line-height: 136.02%;
        margin-left: 30px;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 119px;
        height: 36px;
        background: #4C6FFF;
        border-radius: 6px;
        color: #fff;

        img {
            width: 15px;
            height: 15px;
            margin-right: 8px;
        }
    }

    &__add-text {
        font-weight: 600;
        font-size: 14px;
        line-height: 12px;
    }
}